* {
    color: #808080; /*文字色*/
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: auto;
 }

.skill{
    background-color: rgb(241, 241, 241);
    margin: 0 150px;
}

.skill p {
    font-size: 20px;
    text-align: center;
    display: grid;
    padding: 150px;
}


  .sec1 {
    background-image: url("./img/fish1.0001.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 400px;
    max-width: auto;
    margin: 0 150px;
}
.sec1 h1 {
    font-size: 50px;
    text-align: center;
    display: flex;
    padding: 150px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
}